{% extends 'base.html.twig' %}

{% block title %}Produit
{% endblock %}

{% block body %}
	<div class="col-12">
		<div class="card card-primary">
			<div class="card-header">
				<h3 class="card-title">Call api
				</h3>
			</div>
			<div class="card-body">


				<div class="alert alert-danger" role="alert">
					<div class="text-center">{{ response }}</div>
				</div>
			</div>
		</div>

	</div>
{% endblock %}
